@use 'variaveis' as v;

/*Header*/
header {
    width: 100%;
    height: 90vh;
    background: linear-gradient(0deg, rgba(6, 63, 87, 1), rgba(6, 63, 87, 0.3)),
        url(../images/header.png);
    background-size: cover;
}
.box-header {
    height: 90vh;
    justify-content: v.$justify-csb;
}
.login {
    justify-content: flex-end;
    &-user span {
        color: v.$branco;
        padding-right: 15px;
        font-size: 1.2rem;
    }
}
.header-logo-slogan {
    justify-content: v.$justify-csb;
}
.responsive-menu {
    display: v.$hidden;
    &.fa-bars {
        color: v.$branco;
        font-size: 1.5rem;
    }
}
.navbar {
    ul {
        gap: 5.5rem;
        padding: 1rem 0;
        font-size: 1.3rem;
    }
    & a:active,
    a:visited,
    a:link {
        color: v.$branco;
    }
    & a:hover {
        text-decoration: underline;
        text-decoration-thickness: 6px;
        text-underline-offset: 7px;
    }
}
