@use "variaveis" as v;

/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:active,
a:visited,
a:link {
  color: v.$azulEscuro;
}
ul {
  list-style: none;
}
body {
  font-family: v.$noto-sans;
}
