// Cores //
$azulEscuro: #063f57;
$azulClaro: #176485;
$laranja: #a35700;
$marrom: #573106;
$preto: #000000;
$branco: #ffffff;
// Fontes //
$courier: "Courier Prime", monospace;
$noto-sans: "Noto Sans", sans-serif;
// Margem Padrão//
$mb1: 1rem;
// Padding Padrão //
$pt3: 3rem;
$pb5: 5rem;
// Displays //
$display-f: flex;
$display-g: grid;
// Justify Content e Align Items //
$justify-c: center;
$justify-csb: space-between;
$justify-csa: space-around;
$align-c: center;
// Flex Direction //
$flex-dc: column;
//hidden
$hidden: none;
// Border
$link-border-bottom: 3px solid $laranja;

/*Header*/
$bgImage: "../img/banner.png";
$color_black: #000000;
$color_white: #ffffff;
