@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* variáveis */

:root {
    --azul-escuro: #063f57;
    --azul-claro: #176485;
    --laranja: #a35700;
    --marrom: #573106;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:active,
a:visited,
a:link {
    color: var(--azul-escuro);
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 6px;
    text-underline-offset: 7px;
}

ul {
    list-style: none;
}

body {
    font-family: "Noto Sans", sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

/* Fontes */
.courier {
    font-family: "Courier Prime", monospace;
}

.noto-sans {
    font-family: "Noto Sans", sans-serif;
}

/* Header */
.header-cor {
    background-color: var(--azul-escuro);
}

.login {
    display: flex;
    justify-content: space-between;
}

.login-btn {
    font-size: 1.2rem;
    padding: 0.8rem;
    border: none;
    background-color: white;
    margin: 2rem 2rem 0 0;
}

.header-logo-slogan {
    display: flex;
    justify-content: space-around;
}

.img-logo {
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
    margin-bottom: 50px;
    margin-left: 50px;
    flex-grow: 1;
}

.slogan {
    display: flex;
    justify-self: center;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    margin-bottom: 50px;
    text-align: center;
    flex-grow: 1.7;
}

.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-bottom: 2rem;
    font-size: 1.3rem;
}

.navbar-list a:active,
.navbar-list a:visited,
.navbar-list a:link {
    color: white;
}

.navbar-list a:hover {
    text-decoration: underline;
    text-decoration-thickness: 6px;
    text-underline-offset: 7px;
}

/*Footer*/
.footer-cor {
    background-color: var(--azul-escuro);
    color: white;
}

.nav-footer {
    display: flex;
    justify-content: space-between;
}

.telefone-local {
    display: flex;
    padding: 20px;
}

.telefone {
    flex: 1;
}

.telefone a,
.telefone a:hover .telefone a:active .telefone a:active {
    color: white;
    text-decoration: none;
}

.localizacao {
    flex: 1;
    text-align: right;
}

.email-redes a:active,
.email-redes a:visited,
.email-redes a:link {
    color: white;
}

.email-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.links-pags-footer a:active,
.links-pags-footer a:visited,
.links-pags-footer a:link {
    color: white;
}

.links-pags-footer a:hover {
    text-decoration: underline;
    text-decoration-thickness: 6px;
    text-underline-offset: 7px;
}

.links-pags-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 20px 20px 0px;
}

.nome-hotel-footer {
    display: flex;
    justify-content: center;
    padding: 0px 0px 20px 20px;
}

/* PÁGINA CONTATO */
.container-contato {
    padding: 30px;
    background-color: var(--azul-claro);
}

.form-contato {
    width: 40%;
    height: 600px;
    font-size: 14px;
    background: white;
    border-radius: 8px;
    margin: 0 auto;
    box-shadow: 0 0 40px -10px var(--azul-escuro);
    padding: 20px 30px;
    box-sizing: border-box;

}

.titulo-form-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.titulo-form-contato > h2 {
    display: flex;
    text-align: center;
}

.form-contato > h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: var(--azul-claro);
    border-bottom: 3px solid var(--laranja)
}

input {
    width: 100%;
    padding: 10px;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all .3s;
    border-bottom: 1px solid var(--azul-claro);
}

input:focus {
    border-bottom: 3px solid var(--azul-claro);
}

.form-contato > p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: grey
}

p[type="Telefone:"] {
    width: 49%;
    display: inline-block;
}

p[type="Assunto:"] {
    width: 50%;
    display: inline-block;
}

select {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid var(--azul-claro);
    text-align: center;
    cursor: pointer;
}

select:focus {
    border: 2px solid var(--azul-escuro);
}

textarea {
    width: 100%;
    height: 100px;
    border: 1px solid var(--azul-claro);
    border-radius: 3px;
    resize: none;
}

.btn-enviar-contato {
    width: 100px;
    margin-top: 28px;
    border: none;
    background-color: var(--azul-claro);
    color: white;
    padding: 16px 0 16px 0;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
}

.btn-enviar-contato:hover {
    background-color: var(--laranja);
    transition: .2s;
    box-shadow: 10px 10px 40px -14px var(--azul-escuro);
}

div.linha-final {
    text-align: center;
    width: 60%;
    padding: 16px 0 16px 0;
    margin-top: 28px;
    float: right;
    background: var(--azul-claro);
    color: #fff;
    border-radius: 3px;
    box-shadow: 10px 10px 40px -14px var(--azul-escuro);
}

div.linha-final > a {
    text-decoration: none;
    color: white;
}
/* PÁGINA CONTATO */