/* PÁGINA CONTATO */
.container-contato {
    padding: 30px;
}

.form-contato {
    width: 40%;
    height: auto;
    font-size: 14px;
    background: var(--azul-escuro);
    border-radius: 8px;
    margin: 0 auto;
    box-shadow: 0 0 40px -10px var(--azul-escuro);
    padding: 20px 30px;
    box-sizing: border-box;
    color: white;
    letter-spacing: 0.5px;
}

.titulo-form-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--azul-claro);
    margin-bottom: 30px;
}

.titulo-form-contato > h2 {
    display: flex;
    text-align: center;
}

.form-contato > h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 60%;
    border-bottom: 3px solid var(--laranja);
    font-size: 2rem;
    font-weight: 700;
    line-height: 42px;
}

.form-contato > p > input {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 0.9rem;
    resize: none;
    border: 0;
    transition: all .3s;
    border-radius: 3px;
    outline: none;
}

.form-contato > p {
    font-size: 1.2rem;
    font-weight: 700;
}

.form-contato > p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
}

.telefone-contato {
    width: 49%;
    display: inline-block;
}

.assunto-contato {
    width: 50%;
    display: inline-block;
}

.assunto-contato > select {
    width: 100%;
    height: 50px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
}

.comentários-contato > textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-family: "Noto Sans", sans-serif;
    font-size: .9rem;
    border: 1px solid var(--azul-claro);
    border-radius: 3px;
    resize: none;
    outline: none;
}

.btn-enviar-contato {
    width: 100px;
    height: 50px;
    margin-top: 28px;
    border: none;
    background-color: var(--azul-claro);
    color: white;
    padding: 16px 0 16px 0;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
}

.btn-enviar-contato:hover {
    background-color: var(--laranja);
    transition: .2s;
    box-shadow: 10px 10px 40px -14px var(--azul-escuro);
}

div.linha-final {
    text-align: center;
    width: 60%;
    height: 50px;
    padding: 16px 0 16px 0;
    margin-top: 28px;
    float: right;
    background: var(--azul-claro);
    color: #fff;
    border-radius: 3px;
    box-shadow: 10px 10px 40px -14px var(--azul-escuro);
}

div.linha-final > a {
    text-decoration: none;
    color: white;
}
/* FINAL PÁGINA CONTATO */