@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* variáveis */

:root {
  --azul-escuro: #063f57;
  --azul-claro: #176485;
  --laranja: #a35700;
  --marrom: #573106;
}
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:active,
a:visited,
a:link {
  color: white;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 6px;
  text-underline-offset: 7px;
}

ul {
  list-style: none;
}
body {
  font-family: "Noto Sans", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}
/* Fontes */
.courier {
  font-family: "Courier Prime", monospace;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
}

/* Header */
.header-cor {
  background-color: var(--azul-escuro);
}

.login {
  display: flex;
  justify-content: space-between;
}

.login-btn {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 20px;
  border: none;
  background-color: white;
  margin: 2rem 2rem 0 0;
}

.header-logo-slogan {
  display: flex;
  gap: 50px;
}

.img-logo {
  display: flex;
  justify-self: flex-start;
  align-self: flex-start;
  padding-left: 5rem;
}

.slogan {
  display: flex;
  justify-self: center;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  margin-bottom: 50px;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-bottom: 2rem;
  font-size: 1.3rem;
}

.barra-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*Footer*/
.footer-cor{
  background-color: var(--azul-escuro);
  color: white;
}

.nav-footer{
  display: flex;
  justify-content: space-between;
}

.telefone-local{
  display:flex;
  justify-content: space-between;
  padding: 20px;
}
.email-redes{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.links-pags-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0px 20px 20px 0px;

}

.nome-hotel-footer{
  display: flex;
  justify-content: center;
  padding: 0px 0px 20px 20px;
}

/* sobre */
.about{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-div {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about img {
  width: 100%;
}

.about p {
  margin: 30px;
}

.container-contact{
  width: 80%;
  display: block;
  text-align: center;
  margin: auto;
}

.container-contact h4{
  margin: 10px;
}
.container-contact p {
  margin-top: 8px;

}
.container-contact button {
  margin: 10px;
  border-radius: 10px 10px 10px 10px;
  width: 150px;
  height: 30px;
  color: white;
  font-weight: bold;
  background-color: #063f57;
}
.container-contact button:hover{
  margin: 10px;
  border-radius: 10px 10px 10px 10px;
  width: 150px;
  height: 30px;
  color: white;
  font-weight: bold;
  background-color: #176485;
}
