@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* variáveis */

:root {
  --azul-escuro: #063f57;
  --azul-claro: #176485;
  --laranja: #a35700;
  --marrom: #573106;
}
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:active,
a:visited,
a:link {
  color: var(--azul-escuro);
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 6px;
  text-underline-offset: 7px;
}

ul {
  list-style: none;
}
body {
  font-family: "Noto Sans", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}
/* Fontes */
.courier {
  font-family: "Courier Prime", monospace;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
}

/* Header */
.header-cor {
  background-color: var(--azul-escuro);
}

.login {
  display: flex;
  justify-content: space-between;
}

.login-btn {
  font-size: 1.2rem;
  padding: 0.8rem;
  border: none;
  background-color: white;
  margin: 2rem 2rem 0 0;
}

.header-logo-slogan {
  display: flex;
  justify-content: space-around;
}

.img-logo {
  display: flex;
  justify-self: flex-start;
  align-self: flex-start;
  margin-bottom: 50px;
  margin-left: 50px;
  flex-grow: 1;
}

.slogan {
  display: flex;
  justify-self: center;
  align-items: center;
  color: white;
  font-size: 1.1rem;
  margin-bottom: 50px;
  text-align: center;
  flex-grow: 1.7;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-bottom: 2rem;
  font-size: 1.3rem;
}

.navbar-list a:active,
.navbar-list a:visited,
.navbar-list a:link {
  color: white;
}

.navbar-list a:hover {
  text-decoration: underline;
  text-decoration-thickness: 6px;
  text-underline-offset: 7px;
}

/*Footer*/
.footer-cor {
  background-color: var(--azul-escuro);
  color: white;
}

.nav-footer {
  display: flex;
  justify-content: space-between;
}

.telefone-local {
  display: flex;
  padding: 20px;
}

.telefone {
  flex: 1;
}

.telefone a,
.telefone a:hover .telefone a:active .telefone a:active {
  color: white;
  text-decoration: none;
}

.localizacao {
  flex: 1;
  text-align: right;
}

.email-redes a:active,
.email-redes a:visited,
.email-redes a:link {
  color: white;
}

.email-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.links-pags-footer a:active,
.links-pags-footer a:visited,
.links-pags-footer a:link {
  color: white;
}

.links-pags-footer a:hover {
  text-decoration: underline;
  text-decoration-thickness: 6px;
  text-underline-offset: 7px;
}

.links-pags-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0px 20px 20px 0px;
}

.nome-hotel-footer {
  display: flex;
  justify-content: center;
  padding: 0px 0px 20px 20px;
}

/* Home sobre */
.titulo-sobre {
  color: var(--azul-escuro);
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0 2rem 0;
}

.img-sobre {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.img-sobre img {
  width: 50%;
  align-self: flex-start;
}

.sobre-texto {
  font-size: 1.2rem;
  text-indent: 20px;
  text-align: justify;
  margin: 10px 0 10px 0;
}

.sobre-texto p {
  margin-bottom: 20px;
}

/* Acomodações */
.cards-quartos {
  margin-top: 60px;
}

.titulo-quartos {
  color: var(--azul-escuro);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2rem 0 2rem 0;
  text-align: center;
}

.quartos {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

/* Conheça a Ilha */
.ilha {
  margin-top: 60px;
}

.titulo-ilha {
  color: var(--azul-escuro);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2rem 0 2rem 0;
  flex: 1;
  text-align: center;
}

.foto-ilha img {
  display: flex;
  width: 70%;
  margin: 0 auto 0 auto;
  border: solid 3px var(--azul-escuro);
  padding: 2px;
}

/*Botão conheça mais sobre nossos serviços*/
.btn-conheca-mais {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.btn-conheca-mais a button {
  font-size: 1.5rem;
  padding: 15px 40px 15px 40px;
  background-color: var(--azul-escuro);
  border: none;
  color: white;
}

.btn-conheca-mais a:hover button {
  background: var(--azul-claro);
}

/* Gastronomia */
.gastronomia-titulo {
  color: var(--azul-escuro);
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0 2rem 0;
}

.foto-texto-gastronomia {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.foto-texto-gastronomia img {
  width: 50%;
  align-self: flex-start;
}

.texto-gastronomia {
  font-size: 1.2rem;
  text-indent: 20px;
  text-align: justify;
  margin: 10px 0 10px 0;
}

.texto-gastronomia p {
  margin-bottom: 20px;
}

/* página sobre */
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-div {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about img {
  width: 100%;
}

.about p {
  margin: 30px;
}

.container-contact {
  width: 80%;
  display: block;
  text-align: center;
  margin: auto;
}

.container-contact h4 {
  margin: 10px;
}
.container-contact p {
  margin-top: 8px;
}
.container-contact button {
  margin: 10px;
  border-radius: 10px 10px 10px 10px;
  width: 150px;
  height: 30px;
  color: white;
  font-weight: bold;
  background-color: #063f57;
}
.container-contact button:hover {
  margin: 10px;
  border-radius: 10px 10px 10px 10px;
  width: 150px;
  height: 30px;
  color: white;
  font-weight: bold;
  background-color: #176485;
}

/* PÁGINA LOGIN */
.container-form-image {
  margin: 0;
  padding: 30px;
  display: flex;
  width: auto;
}

.container-login {
  width: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.container-img-login {
  width: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.container-img-login > img {
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px var(--azul-claro);
}

.form-login {
  margin: 0 auto;
  height: auto;
  width: 400px;
  background-color: var(--azul-escuro);
  border-radius: 3px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px 0px var(--azul-claro);
  padding: 50px 35px;
  font-family: "Noto Sans", sans-serif;
  color: white;
  letter-spacing: 0.5px;
  border: none;
}

.link-login:hover {
  text-decoration: none;
}

.form-login > h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 80%;
    border-bottom: 3px solid var(--laranja);
    font-size: 2rem;
    font-weight: 700;
    line-height: 42px;
}

.form-login > label {
  display: block;
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: 700;
}

input[type="text"],
input[type="password"] {
  display: block;
  height: 50px;
  width: 100%;
  background-color: white;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 0.9rem;
  font-weight: 400;
  color: grey;
  border: none;
  outline: none;
}

.form-login > input::placeholder {
  color: gray;
}

input[type="checkbox"] {
  margin: 0px 2px 0px 2px;
  cursor: pointer;
  transform: scale(1.5);
}

.lembrar-esqueci {
  margin: 15px 0px 30px 0px;
}

.esqueci-senha {
  font-size: 0.8rem;
  margin-left: 60px;
  font-weight: 400;
  color: white;
}

.esqueci-senha:hover {
  color: var(--azul-claro);
  transition: 0.2s;
}

.btn-entrar {
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
}

.btn-entrar:hover {
  background-color: var(--laranja);
  transition: 0.3s;
  color: white;
}

.form-login > h3 {
  padding-top: 10px;
  font-size: 1rem;
  font-weight: 500;
}

.social-login {
  margin-top: 10px;
  display: flex;
  cursor: pointer;
}

.social-login div {
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  margin: 3px;
  background-color: var(--azul-claro);
  color: white;
  text-align: center;
}

.social-login div:hover {
  background-color: var(--laranja);
  transition: 0.3s;
}

.social-login .google-icon .facebook-icon {
  width: 50%;
}

div.google-icon > a.link-login,
div.facebook-icon > a.link-login {
  color: white;
  font-weight: 700;
}
/* FINAL PÁGINA LOGIN */

/******************************************************************************** Página Sobre **************************************************************************************************/

/* Títulos */
.titulo-style {
  font-family: Courier Prime;
}

/* Container Principal */
.sobre-container {
  width: 80%;
  margin: auto;
}
/*Section - Sobre o hotel*/
.sobre-container-img-txt {
  display: grid;
  grid-template-columns: 50% 50%;
}

.texto-artigo {
  margin: 0 5%;
}
/* Section - Comodidades Adicionais */
.container-comodidades {
  display: flex;
  justify-content: center;
}
.comodidades-img {
  margin: 0 6rem;
}
/* Section - Diferenciais */
.container-img {
  display: flex;
  justify-content: center;
}
.img-hero {
  display: flex;
  margin: 0 3rem;
  width: auto;
  height: 95%;
  justify-content: center;
}

.img-style {
  padding: 5%;
  width: 200px;
  height: 200px;
}

.legenda-diferenciais-style {
  width: 200px;
  height: 160px;
  text-align: justify;
}
/* Section - Nosso time */
.nosso-time {
  grid-area: titulo3;
}

.container-time {
  display: flex;
  grid-area: container-time;
  width: 100%;
  justify-content: center;
}

.nosso-time-img {
  margin: 0 3rem;
  margin-bottom: 3rem;
}

/* pagina acomodações */

/* Acomodações */
.nossas-acomodacoes h2 {
  font-size: 2rem;
  font-family: "Courier Prime", monospace;
  color: var(--azul-escuro);
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: left;
}
.nossas-acomodacoes p {
  text-align: left;
  font-family: "noto sans", sans-serif;
  font-size: 1rem;
  padding-bottom: 20px;
}
.detalhes-apartamentos h2 {
  font-size: 2rem;
  font-family: "Courier Prime", monospace;
  color: var(--azul-escuro);
  padding-top: 20px;
  padding-bottom: 10px;
}
.detalhes-apartamentos ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: inside;
  padding-bottom: 20px;
  font-size: 1rem;
  font-family: "noto sans", sans-serif;
}
.detalhes-apartamentos ul li {
  padding: 5px 0;
}
.detalhes-apartamentos p {
  padding: 10px;
  font-size: 1.2rem;
  font-family: "noto sans", sans-serif;
}

/* Acomodações - Imagens */
.acomodacoes-imagens {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  padding-top: 20px;
  gap: 10px;
}
.acomodacoes-imagens .card img {
  width: 100%;
}
.acomodacoes-imagens .card {
  height: 500px;
  width: 350px;
  background: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
.acomodacoes-imagens .card .inferior-text {
  display: grid;
  grid-template-rows: 200px 48px;
  padding: 20px;
}
.acomodacoes-imagens .card .inferior-text .inferior-text-top h3 {
  font-size: 1.5rem;
  font-family: "Courier Prime", monospace;
  font-weight: 800;
  padding-bottom: 10px;
}
.acomodacoes-imagens .card .inferior-text .inferior-text-top p {
  font-size: 1rem;
  font-family: "noto sans", sans-serif;
}
.acomodacoes-imagens .card .inferior-text .inferior-text-button {
  display: grid;
  grid-template-columns: 125px 125px;
  justify-content: space-between;
}
.acomodacoes-imagens
  .card
  .inferior-text
  .inferior-text-button
  .inferior-right {
  background-color: var(--azul-claro);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.acomodacoes .card .inferior-text .inferior-text-button .inferior-right:hover {
  background-color: var(--azul-escuro);
}
.acomodacoes-imagens
  .card
  .inferior-text
  .inferior-text-button
  .inferior-right
  a {
  color: #ffffff;
  font-family: "noto sans", sans-serif;
}
.acomodacoes-imagens
  .card
  .inferior-text
  .inferior-text-button
  .inferior-left
  .text2 {
  font-size: 0.8rem;
  font-family: "noto sans", sans-serif;
  padding-bottom: 10px;
}
.acomodacoes-imagens
  .card
  .inferior-text
  .inferior-text-button
  .inferior-left
  .text-valor {
  font-size: 1.2rem;
  font-family: "noto sans", sans-serif;
  font-weight: bold;
}
.inferior .inferior-left {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
}
/* Produtos em Destaque */
.produtos-destaque {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 0;
}
.produtos-destaque .description {
  display: grid;
  grid-template-rows: 200px 48px;
  align-content: space-between;
  padding: 20px;
}
.produtos-destaque div:nth-of-type(1) h2 {
  font-size: 2rem;
  padding-bottom: 20px;
  font-family: "Courier Prime", monospace;
  color: var(--azul-escuro);
}
.produtos-destaque div:nth-of-type(1) p {
  margin-bottom: 10px;
  font-family: "noto sans", sans-serif;
  line-height: 1.6rem;
}
.content {
  display: grid;
  grid-template-columns: 125px 125px;
  justify-content: space-between;
}
.produtos-destaque .content-text div:nth-of-type(1) {
  font-size: 0.8rem;
  font-family: "noto sans", sans-serif;
}
.produtos-destaque .content-text div:nth-of-type(2) {
  font-size: 1.2rem;
  font-family: "noto sans", sans-serif;
  font-weight: bold;
}
.produtos-destaque .content-button {
  background-color: #176485;
}
.produtos-destaque .content-button:hover {
  background-color: var(--azul-escuro);
}
.produtos-destaque .content-button a {
  color: #ffffff;
  font-family: "noto sans", sans-serif;
}
.produtos-destaque .content-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
