@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* variáveis */

:root {
  --azul-escuro: #063f57;
  --azul-claro: #176485;
  --laranja: #a35700;
  --marrom: #573106;
}
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:active,
a:visited,
a:link {
  color: var(--azul-escuro);
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 6px;
  text-underline-offset: 7px;
}

ul {
  list-style: none;
}
body {
  font-family: "Noto Sans", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}
/* Fontes */
.courier {
  font-family: "Courier Prime", monospace;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
}

/* Header */
.header-cor {
  background-color: var(--azul-escuro);
}

.login {
  display: flex;
  justify-content: space-between;
}

.login-btn {
  font-size: 1.2rem;
  padding: 0.8rem;
  border: none;
  background-color: white;
  margin: 2rem 2rem 0 0;
}

.header-logo-slogan {
  display: flex;
  justify-content: space-around;
}

.img-logo {
  display: flex;
  justify-self: flex-start;
  align-self: flex-start;
  margin-bottom: 50px;
  margin-left: 50px;
  flex-grow: 1;
}

.slogan {
  display: flex;
  justify-self: center;
  align-items: center;
  color: white;
  font-size: 1.1rem;
  margin-bottom: 50px;
  text-align: center;
  flex-grow: 1.7;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-bottom: 2rem;
  font-size: 1.3rem;
}

.navbar-list a:active,
.navbar-list a:visited,
.navbar-list a:link {
  color: white;
}

.navbar-list a:hover {
  text-decoration: underline;
  text-decoration-thickness: 6px;
  text-underline-offset: 7px;
}

/*Footer*/
.footer-cor {
  background-color: var(--azul-escuro);
  color: white;
}

.nav-footer {
  display: flex;
  justify-content: space-between;
}

.telefone-local {
  display: flex;
  padding: 20px;
}

.telefone {
  flex: 1;
}

.localizacao {
  flex: 1;
  text-align: right;
}

.email-redes a:active,
.email-redes a:visited,
.email-redes a:link {
  color: white;
}

.email-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.links-pags-footer a:active,
.links-pags-footer a:visited,
.links-pags-footer a:link {
  color: white;
}

.links-pags-footer a:hover {
  text-decoration: underline;
  text-decoration-thickness: 6px;
  text-underline-offset: 7px;
}

.links-pags-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0px 20px 20px 0px;
}

.nome-hotel-footer {
  display: flex;
  justify-content: center;
  padding: 0px 0px 20px 20px;
}

/* Home sobre */
.titulo-sobre {
  color: var(--azul-escuro);
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0 2rem 0;
}

.img-sobre {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.img-sobre img {
  width: 50%;
  align-self: flex-start;
}

.sobre-texto {
  font-size: 1.2rem;
  text-indent: 20px;
  text-align: justify;
  margin: 10px 0 10px 0;
}

.sobre-texto p {
  margin-bottom: 20px;
}

/*Botão conheça mais sobre nossos serviços*/
.btn-conheca-mais {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.btn-conheca-mais a button {
  font-size: 1.5rem;
  padding: 15px 40px 15px 40px;
  border-radius: 100px;
  background-color: var(--azul-escuro);
  border: none;
  color: white;
}

.btn-conheca-mais a:hover button {
  background: var(--azul-claro);
}

/* Acomodações */
.cards-quartos {
  margin-top: 60px;
}

.titulo-quartos {
  color: var(--azul-escuro);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2rem 0 2rem 0;
  text-align: center;
}

.quartos {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

/* Conheça a Ilha */
.ilha{
  margin-top: 60px;
}

.titulo-ilha {
  color: var(--azul-escuro);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2rem 0 2rem 0;
  flex: 1;
  text-align: center;
}

.foto-ilha {
  display: flex;
  width: 20%;
  height: 20%;
  margin-left: 150px;    
}

/* Gastronomia */
.gastronomia-titulo {
  color: var(--azul-escuro);
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0 2rem 0;
}

.foto-texto-gastronomia {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.foto-texto-gastronomia img {
  width: 50%;
  align-self: flex-start;
}

.texto-gastronomia {
  font-size: 1.2rem;
  text-indent: 20px;
  text-align: justify;
  margin: 10px 0 10px 0;
}

.texto-gastronomia p {
  margin-bottom: 20px;
}

/* página sobre */
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-div {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about img {
  width: 100%;
}

.about p {
  margin: 30px;
}

.container-contact {
  width: 80%;
  display: block;
  text-align: center;
  margin: auto;
}

.container-contact h4 {
  margin: 10px;
}
.container-contact p {
  margin-top: 8px;
}
.container-contact button {
  margin: 10px;
  border-radius: 10px 10px 10px 10px;
  width: 150px;
  height: 30px;
  color: white;
  font-weight: bold;
  background-color: #063f57;
  
}
.container-contact button:hover {
  margin: 10px;
  border-radius: 10px 10px 10px 10px;
  width: 150px;
  height: 30px;
  color: white;
  font-weight: bold;
  background-color: #176485;
}

.btn-conheca-mais{
  margin-top: 60px;
}

/* PÁGINA LOGIN */
.container-form {
  padding: 30px;
  background-color: var(--azul-claro);
}

form {
  margin: 0 auto;
  height: auto;
  width: 400px;
  background-color: var(--azul-escuro);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 30px 0px var(--azul-claro);
  padding: 50px 35px;
}

form * {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.link-login:hover {
  text-decoration: none;
}

form h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: 700;
}

input[type=text],
input[type=password] {
  display: block;
  height: 50px;
  width: 100%;
  background-color: white;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: .9rem;
  font-weight: 400;
  color: grey;
}

::placeholder {
  color: gray;
}

input[type=checkbox] {
  margin: 0px 2px 0px 2px;
  cursor: pointer;
  transform: scale(1.5);
}

.lembrar-esqueci {
  margin: 15px 0px 15px 0px;
}

span {
  font-weight: 400;
}

.esqueci-senha {
  font-size: .8rem;
  margin-left: 60px;
}

.esqueci-senha:hover {
  color: var(--azul-claro);
  transition: .2s;
}

.btn-entrar {
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

.btn-entrar:hover {
  background-color: var(--laranja);
  transition: .3s;
  color: white;
}

h3 {
  padding-top: 10px;
  font-size: 1rem;
  font-weight: 500;
}

.social {
  margin-top: 10px;
  display: flex;
  cursor: pointer;
}

.social div {
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  margin: 3px;
  background-color: var(--azul-claro);
  color: white;
  text-align: center;
}

.social div:hover {
  background-color: var(--laranja);
  transition: .3s;
}

.social .google-icon .facebook-icon {
  width: 50%;
}

div.google-icon > a.link-login,
div.facebook-icon > a.link-login{
  color: white;
}
/* PÁGINA LOGIN */