@use 'variaveis' as v;

/*HEADER*/

/*NAVBAR*/

/*SEÇÃO OFERTA*/ 
@media (max-width: 414px) and (orientation: portrait) {
    .oferta {
        width: 100%;

        &__video {
            margin-top: 60px;
            width: 100%;
            position: relative;
        }

        &__texto {
            animation: none;
            position: relative;
            width: 100%;
            margin: 0;
            background-color: v.$azulEscuro;
        }

        & h2 {
            font-size: 1.5rem;
        }

        & h3 {
            font-size: 1rem;
        }
    }

    /*SEÇÃO BENEFÍCIOS*/

    /*SEÇÃO CONTATO*/

    /*FOOTER*/

}