@use "variaveis" as v;

.navbar{
    font-family: v.$courier;
    display: v.$display-f;
    background-color: rgba(v.$azulEscuro, 0.9);
    position: fixed;
    width: 100vw;
    z-index: 1;
    height: 50px;
    align-items: v.$align-c;
    justify-content: space-evenly;
    margin: 0 0 0 0;
}

.navbar__link{
    color: white;   
    text-decoration: none; 
    font-weight: bold;
    &:hover {
        color: v.$laranja;
    }
}

