@use 'variaveis' as v;
/* Animação no vídeo*/
@keyframes animacao1 {
    0% {
        //   Identity matrix is used as basis here.
        //   The matrix below describes the
        //   following transformations:
        //     Translates every X point by -50px
        //     Translates every Y point by -100px
        //     Translates every Z point by 0
        //     Scales down by 10%

        transform: matrix3d(
            1,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1,
            0,
            50,
            -50,
            0,
            1.2
        );
    }

    50% {
        transform: matrix3d(
            1,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1,
            0,
            150,
            30,
            0,
            0.9
        );
    }

    100% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 0, 0, 1);
    }
}
@keyframes animacao2 {
    0% {
        top: 0%;
    }
    100% {
        top: 50%;
    }
}
/*Seção de ofertas*/
.oferta {
    margin-top: 50px;
    min-height: 100vh;
    position: relative;
    width: v.$container;
    display: block;
    margin-left: auto;
    margin-right: auto;
    &__container {
        position: relative;
        overflow: hidden;
    }

    &__video {
        width: 100%;
        position: relative;
    }

    &__background-video {
        display: block;
        width: 100%;
        // height: 100vh;
        object-fit: cover;
        position: relative;
        // left: 0;
        // right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    &__texto {
        position: absolute;
        width: 60%;
        margin: 0 10%;
        // top: 0;
        // left: 10%;
        // top: 30%;
        bottom: 10%;
        background-color: rgba(6, 63, 87, 0.5);
        box-shadow: 2px 2px 5px rgba(6, 63, 87, 0.8);
        border: 2px solid v.$laranja;
        padding: 1% 1%;
        animation: animacao1 16s alternate linear forwards;

        & h2 {
            text-align: center;
            margin: 8px;
            color: #ffffff;
            z-index: 2;
            font-size: 1.9rem;
            font-family: v.$courier;
        }

        & h3 {
            text-align: center;
            color: #ffffff;
            font-size: 1.1rem;
            font-family: v.$noto-sans;
            margin: 2%;
            & a {
                color: #ffffff;
                text-decoration: underline;
            }
        }

        & p {
            text-align: center;
            font-size: 0.9rem;
            color: #ffffff;
            font-family: v.$noto-sans;
            margin: 2%;
        }
    }
}

@media (min-width: 415px) and (max-width: 800px) {
    .oferta {
        margin-top: 200px;
        position: relative;
        &__video {
            margin: 0;
        }
        &__texto {
            animation: animacao2 16s alternate linear forwards;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 60%;
            height: 200px;
            margin: 0;
            padding: 0 20px;

            & h2 {
                font-size: 1.5rem;
            }

            & h3 {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 414px) and (orientation: portrait) {
    .oferta {
        margin-top: 30px;
        &__video {
            margin: 0;
            width: 100%;
            position: relative;
        }
        &__texto {
            animation: none;
            position: relative;
            width: 100%;
            margin: 0;
            background-color: v.$azulEscuro;
        }
        & h2 {
            font-size: 1.5rem;
        }
        & h3 {
            font-size: 1rem;
        }
    }
}
