/* Cores */
$azulEscuro: #063f57;
$azulClaro: #176485;
$laranja: #a35700;
$marrom: #573106;
/* Fontes */
$courier: "Courier Prime", monospace;
$noto-sans: "Noto Sans", sans-serif;
/* Margem Padrão*/
$mb1: 1rem;
/* Padding Padrão */
$pt3: 3rem;
$pb5: 5rem;
/* Displays */
$display-f: flex;
$display-g: grid;
/* Justify Content e Align Items */
$justify-c: center;
$justify-csb: space-between;
$align-c: center;
/* Flex Direction */
$flex-dc: column;
/*Text align*/
$center: center;
